# Logs
logs
*.log
npm-debug.log*

# Dependency directories
node_modules/

# Vite files
dist/
.vite
.cache/

# Local environment files
.env
.env.local
.env.*.local

# Editor directories and files
.idea/
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln

# System files
.DS_Store